body {
  margin: 0;
  padding: 0;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

canvas {
  display: block;
  margin: auto;
}

.dg.ac {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
  z-index: 10;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  backdrop-filter: blur(5px);
}
